    <a id="home"></a>
    
    <div class="container-fluid">
      <div class='row tall vCenter bottomBordered'>
        <div class='col-xs-12 center'>
            <h1>My name is Brian Menard and I'm a <p><span class='handwritten'>full-stack web developer & designer</span></p> based out of Chicago, IL.</h1>
            <a class='btn btn-default' href="#portfolio">View my portfolio</a>
        </div>
      </div>
    </div>
      <!-- END INTRO -->
      
      <!-- START SKILLS -->
      <a id="skills"></a>
      <div class='container-fluid bottomBordered padBottom'>
        <h2>I'M SKILLED IN</h2>
        <div class='row'>
          <div class='col-sm-4 center'>
            <i class="material-icons md-150">code</i>
            <h3>Front End Development</h3>
            <p>
              I have experience with AngularJS, JavaScript and jQuery, HTML, CSS, and Bootstrap.
            </p>
          </div>
          <div class='col-sm-4 center leftBorder rightBorder'>
            <i class="material-icons md-150">memory</i>
            <h3>Back End Development</h3>
            <p>
              I'm skilled in Ruby, Ruby on Rails, ActiveRecord, Sinatra, and SQL.  I'm also familiar with
              useful gems such as Devise, OmniAuth, Paperclip, and more.
            </p>
          </div>
          <div class='col-sm-4 center'>
            <i class="material-icons md-150">gesture</i>
            <h3>Design</h3>
            <p>I have a Bachelors degree in Graphic Design, and am skilled with Illustrator, Photoshop, and InDesign.</p>
          </div>
        </div>
      </div>
       <!-- END SKILLS -->
      
      <!-- START PORTFOLIO -->
      <a id="portfolio"></a>
      <h2>MY WORK</h2>
      <div class='center padBottom'>
          <a href="#webWork" class="scroll webAnimation red">Web</a>  |  
          <a href="#desginWork" class="scroll designAnimation">Design</a> 
      </div>
      <div class="container-fluid bottomBordered padBottom">
        
        <div class='row long-row animate'> <!-- CONTAINER FOR LEFT SCROLL -->
        
          <div id="webWork" class="scroll-element"> <!-- WEB WORK START -->
          <div class='center padBottom'>
            View all of my Flatiron coursework on my <a href='https://github.com/brianmenard' target='_blank' class='red'>gitHub</a>
          </div>
          
            
            <!-- RUMBLR -->
            <div class='row padLeft-5 portfolioItem'>
              <div class='col-sm-2'></div>
            
              <div class="col-sm-4 center  ">
                <a href="/projects/rumblr.html">
                <%= image_tag("portfolio/rumblr_capture.png", class:"img-responsive padBottom")%>
                </a>
              </div>
            
              <div class="col-sm-4 wrapText">
                <a href="/projects/rumblr.html"><h3>Rumblr</h3></a>
                <span class='subtext'>Rails, HTML, CSS, BootStrap</span>
                <p>
                Clone of a popular micro-bloggin application. Users can create
                posts, upload photos, reblog posts, and follow other users.  
                Rumblr uses Devise for authentication and Paperclip for images.
                </p>
                <a href="https://github.com/brianmenard/rumblr" target="_blank">GitHub Repo</a>
              </div>
            
              <div class='col-sm-2'></div>
            </div>
            <!-- END RUMBLR-->
            
            <!-- The Menard Team-->
            <div class='row padLeft-5 portfolioItem'>
              <div class='col-sm-2'></div>
            
              <div class="col-sm-4 center ">
                <a href="#" data-featherlight="menard_team_capture.png">
                <%= image_tag("portfolio/menard_team_capture.png", class:"img-responsive padBottom")%>
                </a>
              </div>
            
              <div class="col-sm-4 wrapText">
                <h3>The Menard Team</h3>
                <span class='subtext'>HTML, CSS, BootStrap</span>
                <p>
                Single page application design for The Menard Team, a real estate company in Southern New Hampshire.
                </p>
                <a href="https://github.com/brianmenard/menard-team" target="_blank">GitHub Repo</a>
              </div>
            
              <div class='col-sm-2'></div>
            </div>
            <!-- END PARK PLACE REDESIGN-->
            
            <!-- DUJOUR -->
            <div class='row padLeft-5 portfolioItem'>
              <div class='col-sm-2'></div>
            
              <div class="col-sm-4 center  ">
                <a href="#" data-featherlight="img/portfolio/dujour.png">
                    <%= image_tag("portfolio/dujour.png", class:"img-responsive padBottom")%>
                    </a>
              </div>
            
              <div class="col-sm-4 wrapText">
                <h3>DuJour</h3>
                <span class='subtext'>Rails, ActiveRecord, Devise & OmniAuth, Paperclip, BootStrap</span>
                <p>
                Recipe management application that allows users to input recipes with photos, and share those
                recipes with other users.  Built in Rails using Devise and OmniAuth for authentication and styled
                with Bootstrap.
                </p>
                <a href="https://github.com/brianmenard/dujour" target="_blank">GitHub Repo</a>
              </div>
            
              <div class='col-sm-2'></div>
            </div>
            <!-- END DUJOUR-->
            
            <!-- TIC TAC TOE -->
            <div class='row padLeft-5 portfolioItem'>
              <div class='col-sm-2'></div>
            
              <div class="col-sm-4 center  ">
                <a href="#" data-featherlight="img/portfolio/js-ttt.png">
                    <%= image_tag("portfolio/js-ttt.png", class:"img-responsive padBottom")%>
                    </a>
              </div>
            
              <div class="col-sm-4 wrapText">
                <h3>Javascript Tic Tac Toe (WIP)</h3>
                <span class='subtext'>JavaScript, jQuery, HTML</span>
                <p>
                Web based Tic-Tac-Toe application with persistence.  Front-end built with Javascript and jQuery, using Rails and ActiveRecord
                for persistence through internal API calls.
                </p>
                <a href="https://github.com/brianmenard/js-tictactoe-rails-api-v-000" target="_blank">GitHub Repo</a>
              </div>
            
              <div class='col-sm-2'></div>
            </div>
            <!-- END TIC TAC TOE-->
            
          </div> <!-- WEB WORK END -->
            
          <div id="desginWork" class="scroll-element"> <!-- DESIGN WORK START -->
          
            <!-- DESIGN PROJECT 1 -->
            <div class='row padLeft-5 portfolioItem'>
              <div class='col-sm-2'></div>
            
              <div class="col-sm-4 center">
                <a href="#" data-featherlight="img/portfolio/gogreen.png">
                    <%= image_tag("portfolio/gogreen.png", class:"img-responsive padBottom")%>
                </a>
              </div>
            
              <div class="col-sm-4 wrapText">
                <a href="#" data-featherlight="img/portfolio/gogreen.png">
                  <h3 class='black'>GoGreen</h3>
                </a>
                <span class='subtext'>Logo, Web</span>
                <p>
                Logo and web concept for GoGreen, an energy-efficient airport 
                shuttle service based in New Hampshire. 
                </p>
              </div>
            
              <div class='col-sm-2'></div>
            </div>
            <!-- END DESIGN PROJECT 1-->
            
            <!-- DESIGN PROJECT 2 -->
            <div class='row padLeft-5 portfolioItem'>
              <div class='col-sm-2'></div>
            
              <div class="col-sm-4 center">
                <a href="#" data-featherlight="img/portfolio/quad-construction.png">
                    <%= image_tag("portfolio/quad-construction.png", class:"img-responsive padBottom")%>                
                </a>
              </div>
            
              <div class="col-sm-4 wrapText">
                <a href="#" data-featherlight="img/portfolio/quad-construction.png">
                  <h3 class='black'>Quad Construction</h3>
                </a>
                <span class='subtext'>Logo</span>
                <p>
                Logo design and sample application of logo.  Quad Construction
                is a family business, owned and operated by four brothers.  The orange
                pillars are representative of a construction site, with one pillar
                leaning to create the Roman numeral IV.
                </p>
              </div>
            
              <div class='col-sm-2'></div>
            </div>
            <!-- END DESIGN PROJECT 2-->
            
            <!-- DESIGN PROJECT 3 -->
            <div class='row padLeft-5 portfolioItem'>
              <div class='col-sm-2'></div>
            
              <div class="col-sm-4 center">
                <a href="#" data-featherlight="img/portfolio/good-guys.png">
                    <%= image_tag("portfolio/good-guys.png", class:"img-responsive padBottom")%>                
                </a>
              </div>
            
              <div class="col-sm-4 wrapText">
                <a href="#" data-featherlight="img/portfolio/good-guys.png">
                  <h3 class='black'>Good Guys</h3>
                </a>
                <span class='subtext'>Logo, Packaging</span>
                <p>
                Logo design and packaging for local fast food restaurant.  Good Guys
                focuses on serving 'real' fast food that is organic and locally sourced. 
                The design is meant to be reminiscent of 50's diners, a time before fast food
                became overly processed and unhealthy.
                </p>
              </div>
            
              <div class='col-sm-2'></div>
            </div>
            <!-- END DESIGN PROJECT 3-->
            
            <!-- DESIGN PROJECT 4 -->
            <div class='row padLeft-5 portfolioItem'>
              <div class='col-sm-2'></div>
            
              <div class="col-sm-4 center">
                <a href="#" data-featherlight="img/portfolio/cauda-pavonis/cauda-pavonis-feature.png">
                  <%= image_tag("portfolio/cauda-pavonis/cauda-pavonis-feature.png", class:"img-responsive padBottom")%>
                </a>
              </div>
            
              <div class="col-sm-4 wrapText">
                <a href="#" data-featherlight="img/portfolio/cauda-pavonis/cauda-pavonis-feature.png">
                  <h3 class='black'>Cauda Pavonis</h3>
                </a>
                <span class='subtext'>Logo, Packaging</span>
                <p>
                'Cauda Pavonis' is a term used in alchemy that represents the phase in which
                there is a perceptual change in the user.  This face is frequently
                referred to as the 'peacocks tail', which is evident in the logo design.
                The packaging also utilizes alchemical symbols to categorize it's products into
                the four elements of earth, fire, water, and earth.
                </p>
              </div>
            
              <div class='col-sm-2'></div>
            </div>
            <!-- END DESIGN PROJECT 4-->
            
          </div> <!-- DESIGN WORK END -->
        </div> <!-- END CONTAINER FOR LEFT SCROLL-->
        
        <div class='center'><br><a href='#portfolio'>Top of list</a></div>
        </div> 
    
      <!-- END PORTFOLIO -->
      
      <!-- START BLOG
      <div class='container-fluid redPattern bottomBordered'>
        <a name='blog'></a>
        <div class='row medium-height'>
          <h2 class='white'>From the Blog</h2>

        </div>
      </div>
      END BLOG -->
      
      <!-- START CONTACT -->
      <div class='container-fluid bottomBordered medium-height contact'>
        <a id='contact'></a>
        <h2>GET IN TOUCH</h2>
      <div class='row padBottom'>
        <div class='col-sm-1'></div>
        
        <div class='col-md-5 rightBorder email'>
            <a href="mailto:hello@webdevbrian.com?Subject=Hi%20there!" target="_top"><h2 class='black'>hello@webdevbrian.com</h2></a>
        </div>
        
        <div class='col-md-5 padTop padBottom'>
          <div class='bottomBordered center'><a href='https://github.com/brianmenard' target="_blank">gitHub</a>  |  <a href='https://www.linkedin.com/in/brianmenard' target="_blank">LinkedIn</a>  |  <a href='https://webdevbrian.wordpress.com/' target="_blank">WordPress</a>  </div>
          
          <div class='center'>
            Currently seeking opportunities in the Chicago area.
            <br>
            <%= link_to 'Download my resume', asset_path('DevDesignResume.pdf'), target:'blank' %>
          </div>
        </div>
        
        <div class='col-sm-1'>
            
        </div>
      </div>
      </div>
      <!-- END CONTACT -->
