<div class="container-fluid">
  <div class='row project_header vCenter bottomBordered'>
    <div class='col-xs-12 center'>
        <h1>The Menard Team</h1>
        <h2>redesigned for a growing business</h2>
        <div class='row project_description'>
          <div class='col-xs-3'>
            <!-- PREVIOUS PROJECT -->
            <a href="/projects/rumblr.html">
              <i class="material-icons project_nav flip">navigate_next</i>
            </a>
          </div>
          <div class='col-xs-6'>
            <p>Having grown exponentially in the past few years, the real estate company
            The Menard Team needed an update to their website.  The design 
            uses gratuitous white space and large photographs in a grid system to 
            create an editorial feeling, like a home design magazine.  We wanted to
            emphasize and market the benefits of the company, while at the same time making
            the user feel a sense of being 'at home'
            </p>
            <span class='subtext'>HTML, CSS, BootStrap</span>
          </div>
          <div class='col-xs-3'>
            <!-- NEXT PROJECT -->
            <a href='/projects/the_exchange.html'>
              <i class="material-icons project_nav">navigate_next</i
            </a>
          </div>
        </div>
    </div>
  </div>
  
  <div class='row vCenter bottomBordered long_screenshot'>
    <div class='col-xs-8'>
      <a href="#" data-featherlight="image.png">
        <%= image_tag("portfolio/rumblr_capture.png", class:"img-responsive center_image")%>
        <%= image_tag("portfolio/rumblr_capture.png", class:"img-responsive center_image")%>
      </a>
    </div>
    <div class='col-xs-4'>
      <div class='feature_image'>
        <a href="#" data-featherlight="image.png">
          <%= image_tag("portfolio/rumblr_capture.png", class:"img-responsive center_image")%>
        </a>
      </div>
      <div class='feature_image'>
        <a href="#" data-featherlight="image.png">
          <%= image_tag("portfolio/rumblr_capture.png", class:"img-responsive center_image")%>
        </a>
      </div>
      <div class='feature_image'>
        <a href="#" data-featherlight="image.png">
          <%= image_tag("portfolio/rumblr_capture.png", class:"img-responsive center_image")%>
        </a>
      </div>
    </div>
  </div>
  
</div>