<div class="container-fluid">
  <div class='row project_header vCenter bottomBordered'>
    <div class='col-xs-12 center'>
        <h1>The Exchange</h1>
        <h2>local business with an upgrade</h2>
        <div class='row project_description'>
          <div class='col-xs-3'>
            <!-- PREVIOUS PROJECT -->
            <a href="/projects/menard_team.html">
              <i class="material-icons project_nav flip">navigate_next</i>
            </a>
          </div>
          <div class='col-xs-6'>
            <p>The Exchange is a local business where you can buy and sell games and collectibles. 
            This redesign displays all they have to offer - games, music, movies and more.  
            Users can click to get more info on each category with the help of some simple jQuery scripts.
            
            </p>
            <span class='subtext'>HTML, CSS, BootStrap, jQuery</span>
          </div>
          <div class='col-xs-3'>
            <!-- NEXT PROJECT -->
            <a href='/projects/dujour.html'>
              <i class="material-icons project_nav">navigate_next</i
            </a>
          </div>
        </div>
    </div>
  </div>
  
  <div class='row vCenter bottomBordered long_screenshot'>
    <div class='col-xs-8'>
      <a href="#" data-featherlight="image.png">
        <%= image_tag("portfolio/rumblr_capture.png", class:"img-responsive center_image")%>
        <%= image_tag("portfolio/rumblr_capture.png", class:"img-responsive center_image")%>
      </a>
    </div>
    <div class='col-xs-4'>
      <div class='feature_image'>
        <a href="#" data-featherlight="image.png">
          <%= image_tag("portfolio/rumblr_capture.png", class:"img-responsive center_image")%>
        </a>
      </div>
      <div class='feature_image'>
        <a href="#" data-featherlight="image.png">
          <%= image_tag("portfolio/rumblr_capture.png", class:"img-responsive center_image")%>
        </a>
      </div>
      <div class='feature_image'>
        <a href="#" data-featherlight="image.png">
          <%= image_tag("portfolio/rumblr_capture.png", class:"img-responsive center_image")%>
        </a>
      </div>
    </div>
  </div>
  
</div>