<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Brian Menard</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <link href='../css/main.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:800,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <!-- FeatherLight lightbox -->
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.css" type="text/css" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a name="home"></a>
    
    <nav class='navbar navbar-default navbar-fixed-top navbar-custom'>
      <div class="container-fluid">
        <!-- collapse to button -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
        <%= link_to "Brian Menard", root_path(anchor: 'home'), class:"navbar-brand"%>
    </div>
      <!-- end collapse to button -->
        <div class='collapse navbar-collapse' id='myNavbar'>
          <ul class="nav navbar-nav">
            <li><%= link_to('Home', root_path(anchor: 'home')) %></li>
            <li><%= link_to('Skills', root_path(anchor: 'skills')) %></li>
            <li><%= link_to('Portfolio', root_path(anchor: 'portfolio')) %></li>
            <!-- <li><a href="#blog">Blog</a></li> -->
            <!-- <li><a href="#about">About</a></li> -->
            <li><%= link_to('Contact', root_path(anchor: 'contact'), class:"hidden-xs") %></li>
            <li><%= link_to('Contact & Social', root_path(anchor: 'home'), class:"menuLink visible-xs") %></li>
            <!-- IF ANY MORE LINKS ARE ADDED, ADD THEM TO SMOOTHSCROLL -->
          </ul>
          <ul class='nav navbar-nav navbar-right hidden-xs'>
            <li><a href='https://github.com/brianmenard' target="_blank">gitHub</a></li>
            <li><a href='https://www.linkedin.com/in/brianmenard' target="_blank">LinkedIn</a></li>
            <li><a href='https://webdevbrian.wordpress.com/' target="_blank">WordPress</a></li>
            <li><%= link_to 'Resume', asset_path('DevDesignResume.pdf'), target:'blank' %></li>
          </ul>
        </div>
      </div>
    </nav>


<%= yield %>


  <!-- START FOOTER -->
    <div class="container-fluid footer">
      <div class="row padLeft padRight padTop padBottom">
        <div class="col-xs-2"></div>
        
          <div class="col-md-3 subtext darkRed">
              © 2016 Brian Menard, unless otherwise noted.    
          </div>
        
          <div class="col-md-4 subtext darkRed">
            Designed and developed by Brian Menard. Built with BootStrap and SmoothScroll.  
            Fonts and icons courtesy of Google.
          </div>
          <div class='col-xs-3'></div>
        </div>
      </div>
  <!-- END FOOTER -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <%= javascript_include_tag('smoothScroll.js') %>
    <%= javascript_include_tag('horizontalScroll.js') %>
    <%= javascript_include_tag('hideMenu.js') %>
    <%= javascript_include_tag('buttonUpdater.js') %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- <script src='js/resizePortfolio.js'></script> -->
    <!-- Featherlight Lightbox -->
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.4.1/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
